html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

#gaem {
	display: flex;
	flex-flow: column;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#narrationScreen {
	flex: 1 1 auto;
	background: black;
	color: wheat;
	text-align: center;
	width: 100%;
}

#titleScreen {
	flex: 1 1 auto;
	background: black;
	color: white;
	text-align: center;
}

#titleScreen ul {
	list-style: none;
	padding: 0;
}

#titleScreen ul li button {
	border: none;
}

#danceScreen {
	flex: 1 1 auto;
	background: wheat;
	display: flex;
	flex-direction: column;
	place-items: center;
}

#danceScreen #score {
	float: right;
}

#danceScreen #settings {
	float: left;
}

#danceScreen #dancers {
	display: flex;
	place-content: center;	
	height: 200px;
	flex: 1 0 auto;
	place-items: center;
}

.dancer {
	
	background: no-repeat url(assets/sprites/dancer.png) 0 -4000px;
	transform-origin: top left;
}


#danceScreen #drummers {
		color: brown;
		font-size: 2em;
		flex: 1 0 auto;
}

#pauseScreen {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
	color: wheat;
	background: black;
	text-align: center;
	justify-content: center;
}

